# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
aniso8601=9.0.1=pypi_0
ca-certificates=2021.4.13=haa95532_1
certifi=2020.12.5=py38haa95532_0
chardet=4.0.0=pypi_0
click=8.0.1=pypi_0
colorama=0.4.4=pypi_0
flask=2.0.1=pypi_0
flask-restful=0.3.9=pypi_0
idna=2.10=pypi_0
itsdangerous=2.0.1=pypi_0
jinja2=3.0.1=pypi_0
markupsafe=2.0.1=pypi_0
numpy=1.20.3=pypi_0
openssl=1.1.1k=h2bbff1b_0
pandas=1.2.4=pypi_0
pip=21.0.1=py38haa95532_0
python=3.8.10=hdbf39b2_7
python-dateutil=2.8.1=pypi_0
pytz=2021.1=pypi_0
requests=2.25.1=pypi_0
setuptools=52.0.0=py38haa95532_0
six=1.16.0=pypi_0
sqlite=3.35.4=h2bbff1b_0
urllib3=1.26.4=pypi_0
vc=14.2=h21ff451_1
vs2015_runtime=14.27.29016=h5e58377_2
werkzeug=2.0.1=pypi_0
wheel=0.36.2=pyhd3eb1b0_0
wincertstore=0.2=py38_0
